.footer {
    /* background: rgb(228, 255, 221); */
    background: #81b29a;
    width: 100%;
    height: 200px;
    position: relative;
}

.NavLink_footer {
    position: absolute;
    text-decoration: none;
    /* text-align: left; */
    top: 0;
    left: 0;
    padding: 10px 20px;
    color: #3d405b;
    font-size: 1.5rem;
    cursor: pointer;
}
