.header {
    width: 100%;
    height: 100px;
    background: #81b29a;
    position: fixed;
    top: 0;
    left: 0;
}
.NavLink_div {
    display: flex;
    align-items:flex-end;
    justify-content: center;
}
.NavLink {
    text-decoration: none;
    padding: 2px;
    margin: 5px;
    border: 1px solid #f2cc8f;
    color: #f2cc8f;
    border-radius: 5px;
}
.title {
    color: #3d405b;
}