.about {
    /* margin: 0; */
}
.about div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.about h4 {
    /* background: rgb(207, 207, 207); */
    padding: 10px;
    /* border-radius: 5px; */
}
@media (max-width: 500px) {
    .about div {
        display: block;
    }
}