.about div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.about h4 {
    padding: 10px;
}
@media (max-width: 500px) {
    .about div {
        display: block;
    }
}