.consulting {

    padding: 20px;

    h1 {
        padding: 50px 10px;
    }

    h2, h3, h4, h5 {
        padding: 10px;
    }

    ul {
        text-align: left;
        padding: 5px 5px 5px 50px;
    }
}